[submodule "choco"]
	path = choco
	url = https://github.com/vicenter-gitkraken/choco.git
[submodule "repo.with.dots"]
	path = repo.with.dots
	url = https://github.com/vicenter-gitkraken/repo.with.dots.git
